@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Module 2</h2>
        <p>Click on below links to test ImageCacheMiddleware</p>
        <a href="@Url.Content("~/thumbs/bmw.png")">Bmw</a>
        <a href="@Url.Content("~/thumbs/mercedes.png")">Mercedes</a>
        <a href="@Url.Content("~/thumbs/volkswagen.png")">Volkswagen</a>
    </div>
</div>
